.chat-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 416px;
    background: white;
    border-right: 1px solid #e5e7eb;
    padding: 1rem;
}

.sidebar h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.search-bar {
    width: 354px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #d1d5db;
    border-radius: 22px;
    background: url("../../search_logo.png");
    background-position: 10px 8px;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
    margin-bottom: 20px;
}

.chat-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.chat-user-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.chat-user .name {
    font-weight: 600;
}

.chat-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.chat-user .preview {
    font-size: 0.875rem;
    color: #6b7280;
}

.chat-user .timestamp {
    font-size: 0.75rem;
    color: #9ca3af;
}

.chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
}

.chat-header {
    background: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e7eb;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: relative;
}

.user-info img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.online-indicator {
    position: absolute;
    left: 48px;
    width: 0.75rem;
    height: 0.75rem;
    background: #10b981;
    border: 2px solid white;
    border-radius: 9999px;
}

.chat-messages {
    display: flex;
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    max-width: 381px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    width: fit-content;
    word-wrap: break-word;
}

.message.other {
    background: white;
    align-self: flex-start;
    text-align: left;
}

.message.self {
    background: #DEE9FF;
    align-self: flex-end;
    text-align: right;
}

.message .timestamp {
    font-size: 0.75rem;
    color: #6b7280;
    display: block;
    margin-top: 0.25rem;
}

.chat-input {
    background: white;
    display: flex;
    padding: 1rem;
    border-top: 1px solid #e5e7eb;
}

.chat-input input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

.chat-input button {
    background: transparent;
    color: #3b82f6;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}

.profile-pane {
    width: 25%;
    background: white;
    border-left: 1px solid #e5e7eb;
    padding: 1rem;
}

.profile-pane .close {
    display: block;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.profile-pane img {
    width: 6rem;
    height: 6rem;
    border-radius: 9999px;
    margin: 1rem auto;
    display: block;
}

.profile-header{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.profile-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #707991;
    font-size: 14px;
}

.separator{
    border: 1px solid #D4D4D4;
    margin: 30px;
}

.avatar-wrapper{
    display: block;
}

.right-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unread-badge{
    height: 18px;
    width: 18px;
    background: #3758F9;
    border-radius: 100px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}